<div class="ui two column grid content">
	<div class="column">
		<div class="inside-column">
			<table id="usuarios" class="ui very basic table tabla-ekobike">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Usuario</th>
						<th>Email</th>
						<th>Empresa</th>
					</tr>
				</thead>
				<tbody>
					{{#each usuarios}}
					<tr>
						<td>{{this.nombre}}</td>
						<td><a href="/bienestar/admin/usuario/{{this._id}}">{{this.usuario}}</a></td>
						<td>{{this.email}}</td>
						<td>{{this.empresa.nombre}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="column">
		<div class="inside-column">
			<div class="top attached ui statistics">
				<div class="data-statistics">
					<h3>Empresas Registradas</h3>
				</div>
				<div class="graphic-statistics" data-percent="100">
					<h3>Usuarios Registrados</h3>
				</div>
			</div>
			{{#each empresas}}
			<div class="top attached ui statistics">
				<div class="data-statistics">
					{{this.nombre}}
				</div>
				<div class="ui progress blue graphic-statistics" data-percent="1000">
					<div class="bar" style="transition-duration: 300ms; width: {{this.usuarios.length}}%;">
						<div class="progress">{{this.usuarios.length}}</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>