<div class="ui one column grid content">
    <div class="column">
        <div class="inside-column">
            {{empresas}}
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Usuarios Registrados</th>
                        <th>Email de Contacto</th>
                        <th>Celular de Contacto</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each empresa}}
                        {{#if this.nombre}}
                        <tr>
                            <td><a href="/admin/empresadetalle/{{this._id}}">{{this.nombre}}</a></td>
                            <td>{{this.usuarios.length}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.num_contacto}}</td>
                        </tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>