<div class="ui one column grid content">
    <div class="column">
        <div class="inside-column">
            <table class="ui very basic table tabla-publibike">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Campañas Realizadas</th>
                        <th>Email de Contacto</th>
                        <th>Celular de Contacto</th>
                    </tr>
                </thead>
                <tbody>
                     {{#each empresa}}
                    <tr>
                        <td><a href="/admin/empresadetalle/{{this._id}}">{{this.nombre}}</a></td>
                        <td>{{this.campanas.length}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.num_contacto}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>