<div class="ui one column grid content user-data">
    <div class="column">
        <div class="inside-column">
            <div class="ui three column grid">
                <div class="column">
                    <h4><small>Nombre</small>{{usuario.nombre}}</h4>
                </div>
                <div class="column">
                    <h4><small>Correo Electrónico</small>{{usuario.email}}</h4>
                </div>
                <div class="column">
                    <h4><small>Empresa</small>{{usuario.empresa.nombre}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui three column equal height grid content">
    <div class="column">
        <div class="inside-column">
            <div class="content-activity ui one column grid">
                <h2>
                    Ultimo recorrido realizado
                </h2>

                <div class="ui internally celled grid historic">
                    <div class="date-rute">
                        <h3>{{formatDate ultRecorrido.fecha}}</h3>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            <h4>Kilometros Recorridos</h4>
                        </div>
                        <div class="ten wide column">
                            <div class="ui violet progress">
                                {{!-- <div class="bar"
                                    style="transition-duration: 300ms; display: block; width: {{ultRecorrido.kms}}%; height: 20px;">
                                </div> --}}
                                <div class="progress">{{ultRecorrido.kms}} Kms</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            <h4>CO2 Reducido</h4>
                        </div>
                        <div class="ten wide column">
                            <div class="ui yellow progress" data-percent="60">
                                {{!-- <div class="bar"
                                    style="transition-duration: 300ms; display: block; width: {{ultRecorrido.co2}}%; height: 20px;">
                                </div> --}}
                                <div class="progress">{{ultRecorrido.co2}} Kgr</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            <h4>Consumo de Calorías</h4>
                        </div>
                        <div class="ten wide column">
                            <div class="ui orange progress">
                                {{!-- <div class="bar"
                                    style="transition-duration: 300ms; display: block; width: {{ultRecorrido.cal}}%; height: 20px;">
                                </div> --}}
                                <div class="progress">{{ultRecorrido.cal}} Kcal</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six wide column">
                            <h4>Tiempo Recorrido</h4>
                        </div>
                        <div class="ten wide column">
                            <div class="ui blue progress">
                                {{!-- <div class="bar"
                                    style="transition-duration: 300ms; display: block; width: {{ultRecorrido.tiempo}}%; height: 20px;">
                                </div> --}}
                                <div class="progress">{{ultRecorrido.tiempo}} </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="row">
                        <div class="six wide column">
                            <h4>Velocidad Máxima</h4>
                        </div>
                        <div class="ten wide column">
                            <div class="ui white progress">
                                <div class="bar"
                                    style="transition-duration: 300ms; display: block; width: 60%; height: 20px;"></div>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>  

    <div class="column">
        <div class="inside-column">
            <div class="content-activity ui one column grid">
                <h2>
                    Resultados Actividad General
                </h2>
                <div class="column">
                    <h4>
                        Total de Kilometros Recorridos
                    </h4>
                    <div class="data-activity">
                        <h3>
                            {{usuario.km_total}}
                        </h3>
                        <h5>Kms</h5>
                    </div>

                </div>
                <div class="column">
                    <h4>
                        Total de Calorías Consumidas
                    </h4>
                    <div class="data-activity">
                        <h3>
                            {{usuario.cal_total}}

                        </h3>
                        <h5>Kcal</h5>
                    </div>
                </div>
                <div class="column">
                    <h4>
                        Total de CO2 Reducido
                    </h4>
                    <div class="data-activity">
                        <h3>
                            {{usuario.co2_total}}
                        </h3>
                        <h5>Kgr</h5>
                    </div>
                </div>
                <div class="column">
                    <h4>
                        Tiempo total de actividad
                    </h4>
                    <div class="data-activity">
                        <h3>
                            {{usuario.tiempo_total}}
                        </h3>
                        <h5>Mins</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="column">
        <div class="inside-column">
            <h2 style="text-align: center; width: 100%;">
                Rutas concurridas
            </h2>
            <div id="rutas">
                <div class="ui secondary menu">
                    <a class="item active" data-tab="sevendays">Últimos 7 Días</a>
                    <a class="item" data-tab="lastmonth">Último Mes</a>
                </div>
                <div class="ui active tab" data-tab="sevendays">
                    <div class="top attached ui statistics">
                        <div class="data-statistics">
                            <h3>Corredor Recorrido</h3>
                        </div>
                        <div class="graphic-statistics" data-percent="100">
                            <h3>Tiempo Recorrido</h3>
                        </div>
                        <div class="data-statistics">
                            R2 - Norte-Quito-Sur
                        </div>
                        <div class="ui progress violet graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 100%;">
                                <div class="progress">120 mins</div>
                            </div>
                        </div>
                        <div class="data-statistics">
                            R5 - Av. Boyacá
                        </div>
                        <div class="ui progress yellow graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 80%;">
                                <div class="progress">80 mins</div>
                            </div>
                        </div>
                        <div class="data-statistics">
                            R17 - Tc. Calle 80
                        </div>
                        <div class="ui progress red graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 60%;">
                                <div class="progress">60 mins</div>
                            </div>
                        </div>
                        <div class="data-statistics">
                            R19 - Tc. Calle 26
                        </div>
                        <div class="ui progress blue graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 40%;">
                                <div class="progress">40 mins</div>
                            </div>
                        </div>
                        <div class="data-statistics">
                            R22 - Tc. Avenida Jiménez
                        </div>
                        <div class="ui progress green graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 30%;">
                                <div class="progress">30 mins</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui tab" data-tab="lastmonth">
                    <div class="top attached ui statistics">
                        <div class="data-statistics">
                            <h3>Corredor Recorrido</h3>
                        </div>
                        <div class="graphic-statistics" data-percent="100">
                            <h3>Tiempo Recorrido</h3>
                        </div>
                        <div class="data-statistics">
                            R5 - Av. Boyacá
                        </div>
                        <div class="ui progress violet graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 100%;">
                                <div class="progress">200 mins</div>
                            </div>
                        </div>
                        <div class="data-statistics">
                            R17 - Tc. Calle 80
                        </div>
                        <div class="ui progress yellow graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 80%;">
                                <div class="progress">120 mins</div>
                            </div>
                        </div>
                        <div class="data-statistics">
                            R19 - Tc. Calle 26
                        </div>
                        <div class="ui progress red graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 60%;">
                                <div class="progress">100 mins</div>
                            </div>
                        </div>
                        <div class="data-statistics">
                            R2 - Norte-Quito-Sur
                        </div>
                        <div class="ui progress blue graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 60%;">
                                <div class="progress">100 mins</div>
                            </div>
                        </div>
                        <div class="data-statistics">
                            R22 - Tc. Avenida Jiménez
                        </div>
                        <div class="ui progress green graphic-statistics" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 30%;">
                                <div class="progress">30 mins</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
</div>
<div class="ui one column grid content user-data">
    <div class="column">
        <div class="inside-column">
            <h3>
                Reconocimientos del Usuario
            </h3>
            <div class="prize-content">
                <ul>
                    {{#each usuario.reconocimientos}}
                    <li>
                        <i class="icon-tools-2"></i>
                        {{this.categoria}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>